- body_id = 'Most Popular'
%title
  Most Popular | Caption Monster

.container#popular
  %h1
    Most Popular
  - @entries.each_slice(4) do |p|
    .row
      - p.each do |g|
        .col-xs-6.col-md-3.popular-entry{:value => g.id}
          = image_tag g.photo.url(:medium)




    / = render 'layouts/entry_dashboard'