- body_id = 'caption-index'
%title
  Captions | Caption Monster

.container
  .row
    - if request.path == '/caption/index'
      %h1
        Most Recent Captions
    - else
      %h1
        Search Results:
  - if @labels.count > 0
    = render "layouts/caption_photo_dashboard"
  - else
    %h3 No results found.
