#user_account
  .name
    Name:
    = @user.name
  .email
    Email:
    = @user.email
  .activity
    Number of Entries:
    = @user.entries.count
    Number of Captions:
    = @user.labels.count
    