body {
  padding-top: 50px;
}

#main {
  margin: 20px 0;
}

.navbar-inverse .navbar-brand{
  color: $brand-primary;
}
table {
  // border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:hover.row-entry,
    &:hover.row-caption {
      cursor: pointer;
    }
    th {
      text-align: center;
    }
    td.photo {
      text-align: center;
    }
    img{
      max-width: 200px;
      max-height: 200px;
    }
  }
}

#popular {
  .popular-entry {
    padding: 10px;
    text-align: center;
    &:hover img {
      cursor: pointer;
    }
  }
  img {
    width: 90%;
  }
}

.field_with_errors {
  display: inline-block;
  label {
    background-color: red;
  }
  input {
    border: 3px solid red;
  }
}

.errors {
  display: none;
  color: red
}

#show-entry-container,
#new-caption-container,
#view-caption-container {
  .entry-image {
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .caption-message {
    .message {
      margin-bottom: 8px;
    }
    small {
      display: block;
    }
  }
  .user-info {
    margin-top: 3px;
  }
  .user-name {
    display: inline;
  }
  .date {
    display: inline-block;
    float: right;
  }
  .user-name,
  .date {
    font-style: italic;
  }
}

body#show-caption {
  background-color: black;
}

#view-caption-container {
  .message.panel-body {
    font-size: 18px;
    text-align: center;
  }
}

.caret.caret-up {
  border-top: 0;
  border-bottom: $caret-width-base solid;
  content: "";
}

#sort-filter {
  margin-bottom: 20px;
}

.vote {
  margin: 5px 0;
}
.up-vote, 
.down-vote {
  display: inline-block;
  img {
    padding: 3px;
    width: 20px;
  }
  .arrow {
    display: inline-block;
  }
  .count {
    vertical-align: top;
    display: inline-block;
  }
}

.up-vote .arrow.votable {
  cursor: pointer;
  &:hover {
    background-color: #90EE90;
  }
}

.down-vote .arrow {
  margin-left: 20px;
  &.votable{
    cursor: pointer;
    &:hover {
      background-color: #FFA07A;
    }
  }
}
