body {
  padding-top: 50px;
}

.error-messages {
  color: $state-danger-text;
}

#main {
  margin: 20px 0;
}

.navbar-inverse .navbar-brand{
  color: $brand-primary;
}

.navbar {
  .search-header-item {
    padding: 0 15px;
  }
}
table {
  // border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:hover.row-entry,
    &:hover.row-caption {
      cursor: pointer;
    }
    th {
      text-align: center;
    }
    td.photo {
      text-align: center;
    }
    img{
      max-width: 200px;
      max-height: 200px;
    }
  }
}

// #popular-container {
//   .popular-entry {
//     padding: 10px;
//     text-align: center;
//     &:hover img {
//       cursor: pointer;
//     }
//   }
//   img {
//     width: 90%;
//   }
// }
 
// Re-size homepage title to keep on same line.
@media screen and (max-width: 400px) {
  #home {
    .home-title {
      h1 {
          font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
}

#home {
  margin-top: -20px;
  .home-title {
    h1 {
      color: $brand-primary;
    }
    h1, h2 {
      text-align: center;
      margin: 0;
    }
    h2 {
      font-style: italic;
      margin-top: 5px;
    }
    p {
      margin-top: 30px;
      font-style: italic;
    }
  }
}

#photo-dashboard-container {
  .popular-entry,
  .label-entry {
    padding: 10px;
    text-align: center;
    &:hover img {
      cursor: pointer;
    }
  }
  img {
    width: 100%;
  }
}

.errors {
  display: none;
  color: red
}

#show-entry-container,
#new-caption-container,
#view-caption-container {
  .entry-image {
    display: inline-block;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .caption-message {
    .message {
      margin-bottom: 8px;
    }
    small {
      display: block;
    }
  }
  .hide-captions,
  .hide-caption-form {
    display: inline-block;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  #remove-right-padding {
    padding-right: 0;
  }
  .user-info {
    margin-top: 3px;
  }
  .user-name {
    display: inline;
  }
  .date {
    display: inline-block;
    float: right;
  }
  .user-name,
  .date {
    font-style: italic;
  }
}

body#show-caption {
  background-color: black;
}

#view-caption-container {
  .view-caption-message {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  #view-image-border-container {
    background-color: white;
    border: 20px solid white;
    .view-message {
      padding: 15px 15px 0 15px;
    }
  }
  #view-image-container {
    display: none;
  }
  #toggle-border {
    margin-top: 5px;
    vertical-align: text-bottom;
    a {
      color: rgb(153, 153, 153);
      &:hover {
        text-decoration: none;
      }
      #plus-border {
        display: none;
      }
    }
  }
  #view-options {
    margin-top: 20px;
  }
}

.caret.caret-up {
  border-top: 0;
  border-bottom: $caret-width-base solid;
  content: "";
}

#sort-filter {
  margin-bottom: 20px;
}

.vote {
  margin: 5px 0;
}
.up-vote, 
.down-vote {
  display: inline-block;
  img {
    padding: 3px;
    width: 20px;
  }
  .arrow {
    display: inline-block;
  }
  .count {
    vertical-align: top;
    display: inline-block;
  }
}

.up-vote .arrow.votable {
  cursor: pointer;
  &:hover {
    background-color: #90EE90;
  }
}

.down-vote .arrow {
  margin-left: 20px;
  &.votable{
    cursor: pointer;
    &:hover {
      background-color: #FFA07A;
    }
  }
}
